*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: rgb(45, 42, 42);
    box-shadow: 0 0 10px 7px rgb(53, 54, 52); 
    color: rgb(235, 243, 155);
    text-shadow: 5px 5px 9px rgb(221, 245, 159);
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

body{
    margin-top: 6em;
}

.stopwatch-container{
    border: none;
    border-radius: 10px;
    padding: 25px;
    font-size: 42px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    background-color: rgba(239, 249, 215, 0.752);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.stopwatch-btns button{
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
}

.stopwatch-time{
    padding-left: 10px;
}

.start-btn{
    background-color: lawngreen;
    transition: background-color ease-in 0.1s;
}

.start-btn:hover{
    background-color: rgb(119, 232, 6);
}

.stop-btn{
    background-color: rgba(255, 0, 0, 0.452);
    transition: background-color ease-in 0.1s;
}

.stop-btn:hover{
    background-color: rgba(246, 85, 85, 0.814);
}

.reset-btn{
    background-color: rgb(119, 214, 246);
    transition: background-color ease-in 0.1s;
}

.reset-btn:hover{
    background-color: rgb(87, 200, 238);
}